:root {
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --black-text-color: #212121;
}
a {
  text-decoration: none;
}
.img {
  width: 370px;
  height: 294px;
  top: 1061px;
}
.img .img-tablet {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 1061px;
  left: 215px;
}
.img .img-laptop {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 1061px;
  left: 615px;
}
.img .img-multicolor-tablet {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 1061px;
  left: 1015px;
}

.img .img-tablet:hover,
.img .img-laptop:hover,
.img .img-multicolor-tablet:hover {
  border: 4px solid #2196f3;
}

ul {
  list-style: none;
}
.page-header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background-color: #ffffff;
}
.site-nav {
  color: #212121;
}
.site-nav-studio-current {
  border-bottom: 4px #2196f3 solid;
}
.site-nav-studio-current:hover {
  color: #2196f3;
}
.site-nav-studio:hover {
  color: #2196f3;
}
.site-nav-portfolio:hover {
  color: #2196f3;
}
.site-nav-contacts:hover {
  color: #2196f3;
}
.site-nav-infodevstudiocom:hover {
  color: #2196f3;
}
.site-nav-namber {
  color: #757575;
}
.site-nav-namber:hover {
  color: #2196f3;
}

.site-nav-studio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.site-nav-studio-current {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.site-nav-portfolio {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.site-nav-portfolio-current {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.site-nav-contacts {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.site-nav-infodevstudiocom {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.site-nav-namber {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.order-area {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background-color: #2f303a;
}
.text-on-order-area {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
}
.blue-area-around-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.order-area .button-to-order {
  position: absolute;
  color: #ffffff;
  background-color: #2196f3;
  width: 136px;
  height: 30px;
  left: 732px;
  top: 440px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.order-area .button-to-order:hover {
  text-decoration: underline;
}
b .text {
  position: absolute;
  width: 376px;
  height: 42px;
  left: 612px;
  top: 969px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.details {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.details-desc {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.punctuality {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.punctuality-desc {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.planing {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 815px;
  top: 774px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.planing-desc {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 815px;
  top: 800px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.technologies {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 1115px;
  top: 774px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.technologies-desc {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 800px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.our-specializations {
  position: absolute;
  width: 376px;
  height: 42px;
  left: 612px;
  top: 969px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
section .team-area {
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  background: #f5f4fa;
}

.team {
  position: absolute;
  width: 264px;
  height: 42px;
  left: 668px;
  top: 1543px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.employees {
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.employees .employees-Ihor:hover,
.employees .employees-olga:hover,
.employees .employees-nicolai:hover,
.employees .employees-mihail:hover {
  border-radius: 0px 0px 4px 4px;
  border: 2px solid #2196f3;
}
.employees .employees-Ihor {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;
}
.employees .employees-olga {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 515px;
  top: 1635px;
}
.employees .employees-nicolai {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 815px;
  top: 1635px;
}
.employees .employees-mihail {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 1115px;
  top: 1635px;
}

.name {
  text-align: center;
  font-style: normal;
}
.post {
  text-align: center;
}
.name:hover,
.post:hover {
  text-decoration: underline #2196f3;
}
.text {
  font-style: bold;
}
.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background-color: #2f303a;
}
.footer-text .link-number {
  position: absolut;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2268px;
}
.footer-text .link-adress {
  position: absolut;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2208px;
}
.footer-text .link-email {
  position: absolut;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2238px;
}

.footer-text .link-number,
.footer-text .link-adress,
.footer-text .link-email {
  color: #ffffff;
}

.footer-text .link-number:hover,
.footer-text .link-adress:hover,
.footer-text .link-email:hover {
  text-decoration: underline cornflowerblue;
}

/*страница портфолио*/
.portfolio-page {
  background-color: #e5e5e5;
}
.site-nav-portfolio-current:hover {
  color: #2196f3;
}
.site-nav-portfolio-current {
  border-bottom: 4px #2196f3 solid;
}
.button .link-oll,
.button .link-sites,
.button .link-apps {
  color: var(--black-text-color);
  background-color: #f5f4fa;
}
.button .link-oll:hover,
.button .link-sites:hover,
.button .link-apps:hover,
.button .link-marketing:hover {
  color: #ffffff;
  background-color: #2196f3;
  border: 2px solid var(--accent-color);
}
.button .link-oll {
  position: absolute;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  text-align: center;
  background: #f5f4fa;
  /* shadow-middle */
  color: #212121;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button .link-sites {
  position: absolute;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button .link-apps {
  position: absolute;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button .link-design:hover {
  color: #ffffff;
  background-color: #2196f3;
  border: 2px solid var(--accent-color);
}
.button .link-design {
  position: absolute;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
  color: var(--black-text-color);
  text-align: center;
  vertical-align: middle;
  background: #f5f4fa;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button .link-marketing {
  position: absolute;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
  color: var(--black-text-color);
  text-align: center;
  vertical-align: middle;
  background: #f5f4fa;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.footer-portfolio {
  position: absolute;
  width: 1600px;
  height: 150px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
}
.name-of-desc {
  text-align: center;
  font-style: normal;
}
.desc {
  text-align: center;
}
.name-of-desc:hover,
.desc:hover {
  text-decoration: underline #2196f3;
}
.technokryak-site {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.posters {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.seafood-restaurant {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.project-prime {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.project-boxes {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.inspiration-has-no-borders-site {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.journal-design {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.project-lab {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.growing-business-app {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.technokryak-site:hover,
.posters:hover,
.seafood-restaurant:hover,
.project-prime:hover,
.project-boxes:hover,
.inspiration-has-no-borders-site:hover,
.journal-design:hover,
.project-lab:hover,
.growing-business-app:hover {
  border-radius: 0px 0px 4px 4px;
  border: 2px solid #2196f3;
}
.technokryak-site-img:hover,
.bascetball-poster-img:hover,
.seafood-restaurant-img:hover,
.project-prime-img:hover,
.project-boxes-img:hover,
.inspiration-has-no-borders-site-img:hover,
.journal-design-img:hover,
.project-lab-img:hover,
.growing-business-app-img:hover {
  border-radius: 0px 0px 4px 4px;
  border: 2px solid #2196f3;
}
.technokryak-site-img,
.bascetball-poster-img,
.seafood-restaurant-img,
.project-prime-img,
.project-boxes-img,
.inspiration-has-no-borders-site-img:hover,
.journal-design-img,
.project-lab-img,
.growing-business-app-img {
  box-sizing: border-box;
  width: 100%;
  height: 294px;
}

.page-header .logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}
.footer .logo {
  position: absolut;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2157px;
}
